.container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.productList{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.addBtn{
  width: 130px;
  height: 130px;
  display: block;
  flex-basis: 80%;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 auto;
}

.addBtn:hover{
  cursor: pointer;
}