.container{
  display: flex;
  font-size: 30px;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-around;
}

.container>img{
  width: 30vw;
}

.backBtn{
  text-decoration: underline;
  
}

.backBtn:hover{
  cursor: pointer
}

.editBtn{
  position: fixed;
  bottom: 25px;
  left: 25px;
  background-color: rgba(88, 199, 23, 0.67);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
}