.container{
  display: flex;
  font-size: 30px;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-around;
}

.container>img{
  width: 30vw;
}

.backBtn{
  text-decoration: underline;
  
}

.backBtn:hover{
  cursor: pointer
}

.buttonsContainer{
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: flex;
  gap: 20px;
}

.editBtn{
  background-color: rgba(88, 199, 23, 0.67);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
}
.editBtn:hover{
  background-color: rgba(48, 199, 11, 0.67);
  border: 1px solid rgb(134, 248, 3);
  color: white;
}
.deleteBtn{
  background-color: rgba(199, 29, 23, 0.67);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
}

.deleteBtn:hover{
  background-color: rgba(221, 18, 11, 0.67);
  border: 1px solid rgb(255, 0, 0);
  color: white;
}