.container{
    height: 80px;
    border: 1px solid #9a9a9a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding-right: 30px;
}

.container>div{
    display: flex;
    gap: 20px;
}
.btnDark{
    color: rgba(187, 185, 185, 0.87);
    background-color: #232323;

}

.btnLight{
    background-color: rgba(187, 185, 185, 0.87);
    color: #232323;
}

.menu ul{
    margin-left: 60px;
    display: flex;
    gap: 20px;
}

.menu li{
    list-style: none;
    border: 1px solid black;
    padding: 10px;
}

.menu li:hover{
    border-width: 2px;
    font-weight: bold;
    cursor: pointer;
}